
@{
    ViewData["Title"] = "Contact";
}

<div class="row">
    <div class="col-12">
        <h1>Contact us</h1>
    </div>
</div>

<form>
    <div class="row">
        <div class="col-3">
            <div class="form-group">
                <label for="exampleInputName">Name</label>
                <input type="text" class="form-control" id="exampleInputName">
            </div>
        </div>

        <div class="col-3">
            <div class="form-group">
                <label for="exampleInputPhone">Phone</label>
                <input type="text" class="form-control" id="exampleInputPhone">
            </div>
        </div>

        <div class="col-3">
            <div class="form-group">
                <label for="exampleInputEmail1">Email</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
        </div>

        <div class="col-9">
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Write message</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>


<div class="row contact-map">
    <div class="col-12">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2718.209116987443!2d21.925423550932635!3d47.05574807904964!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x474647e7efaa2fc7%3A0x5000870db5d1c9be!2sOradea%20Town%20Hall!5e0!3m2!1sen!2sro!4v1587910786565!5m2!1sen!2sro" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
</div>


