@using Voluntariat.Areas.Identity.Pages.Account
@using Voluntariat.Controllers

<div class="row">
    <div class="landing-image-container">
        <div class="landing-image-left-content">
            <div class="hero-title">Bringing Super Heroes Together as One</div>
            <div class="hero-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut.</p>

                <p>Aliquip ex ea commodo consequat.</p>
            </div>
            <a class="hero-button" asp-area="Identity" asp-page="/Account/Register" asp-route-registerAs="@nameof(RegisterAs.Volunteer)">BECOME A SUPER HERO</a>
            <a href="#landing-thumbnail-list" class="landing-learn-more-link">
                <div class="landing-learn-more">
                    <div>Learn More</div>
                    <img src="~/images/baseline-keyboard_arrow_down-24px.svg">
                </div>
            </a>
        </div>
        <div class="landing-image"></div>
    </div>
    <div class="landing-thumbnail-list" id="landing-thumbnail-list">
        <div class="landing-thumbnail">
            <img src="~/images/elaine-casap-qgHGDbbSNm8-unsplash.png" class="landing-thumbnail-image">

            <div class="landing-thumbnail-title">NGOs</div>

            <p class="landing-thumbnail-content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut.
            </p>

            <a class="landing-thumbnail-button" asp-area="" asp-controller="@nameof(OngsController)[0..^10]" asp-action="@nameof(OngsController.Index)">See the list</a>
        </div>

        <div class="landing-thumbnail">
            <img src="~/images/person-s-hands-with-paint-1428171.png" class="landing-thumbnail-image">

            <div class="landing-thumbnail-title">Volunteers</div>

            <p class="landing-thumbnail-content">
                Tortor consequat id porta nibh venenatis cras sed. Volutpat diam ut venenatis tellus. Ipsum dolor sit amet consectetur adipiscing elit. Ut ornare lectus sit amet est placerat in.
            </p>

            <p class="landing-thumbnail-content landing-thumbnail-last-content">
                Today volunteers are heroes.
            </p>

            <a asp-area="Identity" asp-page="/Account/Register" asp-route-registerAs="@nameof(RegisterAs.Volunteer)" class="landing-thumbnail-button">Become one</a>
        </div>

        <div class="landing-thumbnail">
            <img src="~/images/joanna-kosinska-1_CMoFsPfso-unsplash.png" class="landing-thumbnail-image">

            <div class="landing-thumbnail-title">Why us?</div>

            <p class="landing-thumbnail-content landing-thumbnail-last-content">
                Nunc sed blandit libero volutpat. Commodo odio aenean sed adipiscing. Odio eu feugiat pretium nibh ipsum. Et malesuada fames ac turpis egestas integer eget aliquet nibh. Imperdiet proin fermentum leo vel orci. At quis risus sed vulputate. Id semper risus in hendrerit gravida rutrum.
            </p>

            <a href="" class="landing-thumbnail-button">Read more</a>
        </div>
    </div>

</div>