<div class="row">
    <div class="col-8 center-using-margin">
        <h2>NGO list</h2>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <tr>
                <ng-container matColumnDef="nrCrt">
                    <th mat-header-cell *matHeaderCellDef>Nr.</th>
                    <td mat-cell *matCellDef="let element; let i = index"> {{i + 1}} </td>
                </ng-container>
            </tr>
            <tr>
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>
            </tr>
            <tr>
                <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef> Description </th>
                    <td mat-cell *matCellDef="let element"> {{element.description}} </td>
                </ng-container>
            </tr>
            <tr>
                <ng-container matColumnDef="website">
                    <th mat-header-cell *matHeaderCellDef> Website </th>
                    <td mat-cell *matCellDef="let element"> <a href="{{element.website}}">{{element.website}}</a> </td>
                </ng-container>
            </tr>
            <tr>
                <ng-container matColumnDef="categoryName">
                    <th mat-header-cell *matHeaderCellDef> Category Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.categoryName}} </td>
                </ng-container>
            </tr>
            <tr>
                <ng-container matColumnDef="serviceName">
                    <th mat-header-cell *matHeaderCellDef> Service Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.serviceName}} </td>
                </ng-container>
            </tr>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>
