
@{
    ViewData["Title"] = "Contact";
}

<div class="contact-page-container">

    <div class="row">
        <div class="col-12">
            <h1>Contact us</h1>
        </div>
    </div>

    <form>
        <div class="row">
            <div class="col-4">
                <div class="form-group">
                    <label for="exampleInputName">Name</label>
                    <input type="text" class="form-control" id="exampleInputName">
                </div>
            </div>

            <div class="col-4">
                <div class="form-group">
                    <label for="exampleInputPhone">Phone</label>
                    <input type="text" class="form-control" id="exampleInputPhone">
                </div>
            </div>

            <div class="col-4">
                <div class="form-group">
                    <label for="exampleInputEmail1">Email</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
            </div>

            <div class="col-12">
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Write message</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>


    <div class="row contact-map">
        <div class="col-12 contact-map-col">
            <iframe class="contact-map-iframe" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2718.4211426847282!2d21.9406589155754!3d47.051588479151775!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x474647f07815f6c1%3A0x8f554d50d1a426c7!2sOradea%20Fortress!5e0!3m2!1sen!2sro!4v1587911922998!5m2!1sen!2sro" width="800" height="600" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
    </div>
</div>

